<?xml version="1.0"?>
<!--
/**
 * MB "Vienas bitas" (Magetrend.com)
 *
 * @category MageTrend
 * @package  Magetend/PdfCart2Quote
 * @author   Edvstu <edwin@magetrend.com>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link     https://www.magetrend.com/magento-2-pdf-invoice-pro
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <pdftemplates>
            <cart2quote>
                <name_quote>quotation_%id.pdf</name_quote>
                <name_quote_collection>quotation_%date.pdf</name_quote_collection>
            </cart2quote>
            <items>
                <columns>
                    <product>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </product>
                    <sku>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </sku>
                    <price>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </price>

                    <qdiscount>
                        <label>Discount</label>
                        <renderer>Magetrend\PdfCart2Quote\Model\Pdf\Element\Items\Column\Renderer\Discount</renderer>
                        <sort_order>23</sort_order>
                        <default>
                            <item_1>5%</item_1>
                            <item_2>5%</item_2>
                            <item_3>5%</item_3>
                            <item_4>5%</item_4>
                            <item_5>5%</item_5>
                        </default>
                        <is_active>
                            <order>0</order>
                            <invoice>0</invoice>
                            <creditmemo>0</creditmemo>
                            <shipment>0</shipment>
                            <quote>1</quote>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </qdiscount>

                    <qty>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </qty>
                    <tax>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </tax>
                    <subtotal>
                        <is_active>
                            <cart2quote>1</cart2quote>
                        </is_active>
                    </subtotal>
                </columns>
            </items>
        </pdftemplates>
    </default>
</config>