<?xml version="1.0"?>
<!--
/**
 * MB "Vienas bitas" (Magetrend.com)
 *
 * @category MageTrend
 * @package  Magetend/PdfCart2Quote
 * @author   Edvstu <edwin@magetrend.com>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link     https://www.magetrend.com/magento-2-pdf-invoice-pro
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="magetrend" translate="label" sortOrder="200">
            <label>Magetrend Extensions</label>
        </tab>
        <section id="pdftemplates" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>PDF Templates</label>
            <tab>magetrend</tab>
            <resource>Magetrend_PdfTemplates::config_general</resource>

            <group id="cart2quote" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart2Quote Settings</label>
                <field id="template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magetrend\PdfCart2Quote\Model\Config\Source\Template\Cart2Quote</source_model>
                    <label>PDF Template</label>
                </field>

                <field id="name_quote" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quote PDF Name</label>
                    <comment>Default: quotation_%id.pdf Available variables: %date, %id</comment>
                </field>

                <field id="name_quote_collection" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quote Collection PDF name</label>
                    <comment>Default: quotation_%date.pdf Available variables: %date</comment>
                </field>
            </group>

        </section>
    </system>
</config>
